# Terraform
.terraform
terraform.tfstate
terraform.tfvars
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
my_key.pem

# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg-info
*.egg
/env
