# Terraform
.terraform
terraform.tfstate
terraform.tfvars
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
my_key.pem

# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg-info
*.egg
/env

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains
/.idea/
*.iml
*.iws
*.ipr

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Sublime Text
*.sublime-project
*.sublime-workspace

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
